body {
    /*Make the text look better*/
    -webkit-font-smoothing: antialiased;
    
    /*Make the text have a nice line height*/
    line-height: 1.5;
}

.header-bg {
    min-height: 450px;
    background: url(/img/header-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    overflow: hidden; 
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 910px;
    border: 1px;
    border-style: dashed;
    color: red;
    overflow: hidden;
   
}

.header-left {
    float: left;
    max-width: 46%;
    border: 1px;
    border-style: dashed;
    color: aqua;
    overflow: hidden;
}

.header-right {
    float: right;
    max-width: 50%;
    border: 1px;
    border-style: dashed;
    color: yellow;
    overflow: hidden;
}

.header-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: -0.5px;
    text-align: left;
    color: white;
    padding-right: 5px;
}

.logo-head {
    max-width: 85%;
    height: auto;
}

.phone-head {
    max-width: 100%;
    height: auto;
}

.app-store-button {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}
