body {
    /*Make the text look better*/
    -webkit-font-smoothing: antialiased;
    
    /*Make the text have a nice line height*/
    line-height: 1.5;
    
/*    height:100%;
    overflow: scroll;
-webkit-overflow-scrolling: touch;*/
}

a:link {
    color: inherit;
    text-decoration:none;
}
a:visited {
    color: inherit;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}

.header-bg {
    min-height: 750px;
    background: url(/img/header-bg8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    overflow: hidden; 
}

.header-container {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    max-width: 910px;
    border: 0px;
    border-style: dashed;
    color: red;
    overflow: hidden;
    padding-bottom: 0;
   
}

.header-left {
    float: left;
    max-width: 40%;
    min-width: 320px;
    border: 0px;
    border-style: dashed;
    color: aqua;
    overflow: hidden;
}

.header-right {
    float: right;
    max-width: 60%;
    height: 650px;
    margin-top: 47px;
    border: 0px;
    border-style: dashed;
    color: yellow;
    overflow: hidden;
}
.header-alt {
    display: none;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: dashed;
    color: yellow;
    overflow: hidden;
}

.header-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -0.5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #333333;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    line-height: 1.3;
    margin-top: 10px
}

.logo-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    -webkit-filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
}

.phone-head {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.logo-text {
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 68px;
    color: white;
    letter-spacing: 1px;
    -webkit-filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.6) );
    filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.6) );
    line-height: 1;
}

.betabutton {
    -webkit-transition: all .3s;
    transition: all .3s;
    max-width: 65%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
/*    background-image: linear-gradient(#D62716, #AA1A16);*/
    background-color: #D62716;
    border-top: 1px solid rgba(255,255,255,.4);
    border-radius: 8px;
    -webkit-filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
    cursor: pointer;
}

.betabutton:hover {
/*    background-image: linear-gradient(#78B142, #AA1A16);*/
    background-color: #C10606;
}

#beta-bt-txt {
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: white;
    letter-spacing: 1px;
    line-height: 1;
    padding-top: 12px;
    margin-top: 0px;
    text-align: center;
    opacity: 0.8;
    -webkit-filter: drop-shadow( 0px 1px 1px rgba(0,0,0,.4) );
    filter: drop-shadow( 0px 1px 1px rgba(0,0,0,.4) );
}

#beta-bt-txt:hover {
    opacity: 1
}
#beta-intro {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 1px 2px 3px #333333;
    margin: 0;
    margin-top: 20px;
}

#about-img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

.app-store-button {
    display: block;
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}

.video-container {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-style: dashed;
    color: red;
    overflow: hidden;
}

.title {
    margin: 0;
    padding-bottom: 0px;
    font-family: 'Lato' , sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #D62716;
    word-spacing: 5px;
    line-height: 1.3;
}

.subtitle {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 23px;
    color: #D62716;
}

.description {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Lato' , sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #697D7F;
    line-height: 1.6
}

.large-title {
    margin: 0;
    text-align: center;
    font-family: 'Lato' , sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #D62716;
    line-height: normal;
    word-spacing: 5px;
}

.about-bg-1 {
    min-height: 700px;
    background: url(/img/about-bg1.jpg) no-repeat 48% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.about-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    border-style: dashed;
    color: red;
    overflow: hidden;
}

.about-left {
    float: left;
    max-width: 52%;
    min-height: 420px;
    border: 1px;
    border-style: dashed;
    color: aqua;
    overflow: hidden;
}

.about-right {
    float: right;
    max-width: 45%;
    border: 1px;
    border-style: dashed;
    color: yellow;
    overflow: hidden;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.banner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 910px;
    border: 1px;
    border-style: dashed;
    color: red;
    overflow: hidden;
}

.list {
    float: left;
    min-width: 50%;
    border: 1px;
    border-style: dashed;
    color: yellow;
    text-align: left;
    overflow: hidden;
}

.feature-scroll-1 {
    min-height: 950px;
    background: url(/img/banner-4.jpg) no-repeat 48% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}
.feature-scroll-2 {
    min-height: 950px;
    background: url(/img/banner-5.jpg) no-repeat 48% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}
.feature-scroll-3 {
    min-height: 950px;
    background: url(/img/banner-6.jpg) no-repeat 48% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;

}

.feature-scroll-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    border: 1px;
    border-style: dashed;
    color: red;
}

.feature-scroll-content {
    margin-left: 0;
    margin-right: auto;
    padding-left: 10px;
    max-width: 38%;
    min-width: 200px;
    border: 1px;
    border-style: dashed;
    color: aqua;
    overflow: hidden;
}

.feature-title {
    padding-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: 'Lato' , sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
    line-height: normal;
    text-shadow: 1px 1px 2px #333333;
}
.feature-description {
    padding-top: -10px;
    padding-bottom: 20px;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 2px #333333;
}

.beta-bg {
    min-height: 400px;
    background: url(/img/bg_beta.jpg) no-repeat 48% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.beta-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    padding-left: 10px;
    padding-right:  20px;
    padding-bottom: 50px;
    border: 0px;
    border-style: dashed;
    color: red;
    overflow: hidden;
}

.beta-left {
    
}

.beta-right {
    display: block;
    float: right;
    max-width: 38%;
    background-color: white;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #dddddd;
    -webkit-filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 2px rgba(0,0,0,.5) );
}
.beta-form {
    display: block;
    width: 90%;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

:-moz-placeholder {
    color: grey;
}
 
::-webkit-input-placeholder {
    color: grey;
}

*:focus {
    outline: none;
}

#txt {
    -webkit-transition: width .25s;
    transition: width .25s;
    width: 80%;
    border-radius:5px; 
    border: solid 1px #ccc; 
    padding:8px;
    margin-bottom: 20px;
    background-color: #f5f5f5; 
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    opacity: .6;
}

#txt:focus {
    box-shadow: inset 0 2px 6px rgba(34,170,255,0.3);
    width: 90%;
    opacity: 1;
}

*:required {
    background: url(/img/required.svg) no-repeat 100% center;
}

#mail:focus:invalid {
    background: url(/img/invalid.svg) no-repeat 100% center;
}

#mail:valid {
    background: url(/img/f-valid.svg) no-repeat 100% center;
}

#txt:focus:invalid {
    background: url(/img/invalid.svg) no-repeat 100% center;
}

#txt:required:valid {
    background: url(/img/f-valid.svg) no-repeat 100% center;
}
#mail {
    -webkit-transition: width .25s;
    transition: width .25s;
    width: 80%;
    border-radius:5px; 
    border: solid 1px #ccc; 
    padding:8px;
    margin-bottom: 20px;
    background-color: #f5f5f5; 
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    opacity: .6;
}

#mail:focus {
    box-shadow: inset 0 2px 6px rgba(34,170,255,0.3);
    width: 90%;
    opacity: 1;
}
.sign {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    width: 60%; 
    padding:8px;
    margin-bottom: 20px;
    background-color: #D62716;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.7);
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
}

.sign:hover {
    background-color: #C10606;
}

.sign:active {
    background-color: #78B142;
}
.review-container {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px;
    border-style: dashed;
    color: red;
    overflow: hidden;
}

.review-title {
    padding-top: 45px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: 'Lato' , sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #D62716; 
    text-align: center;
    line-height: normal;
}

.review-copy {
    padding-top: 35px;
    padding-top: -10px;
    padding-bottom: 20px;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #697D7F;
    text-align: center;
}

.spacer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #969998;
}

.spacer-white {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1.25px;
    background-color: white;
}